.container {
  width: 1380px;
  height: fit-content;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topDivider {
  height: 20px;
  width: 100%;
  background-color: #201d7c;
}

.logoWrapper {
  width: 100%;
  height: 120px;
  background-color: #474aee;
  display: flex;
  justify-content: center;
}

.logo {
  height: 100%;
}

.midContainer {
  width: 100%;
  background-color: white;
  min-height: 560px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.vs {
  font-size: 72px;
  font-weight: bold;
}

.teamContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamImage {
  width: 200px;
}

.teamTitle {
  height: fit-content;
  font-weight: bold;
  font-size: 32px;
}

.teamWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basketNorgeContainer {
  position: absolute;
  bottom: -52px;
  right: 0;
  background-color: #e2e3e4;
  padding: 15px;
}

.basketNorgeText {
  display: block;
}

.teamPrsWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.teamNamePrsWrapper {
  display: flex;
}

.playerText {
  display: flex;
  border-bottom: 1px solid #627cb9;
}

.playerTextInfo {
  background-color: #201d7c;
  color: white;
  font-weight: bold;
  padding: 6px;
  margin-right: 2px;
  width: 100%;
  font-size: 17px;
}

.playerTextInfoNumber {
  background-color: #201d7c;
  color: white;
  font-weight: bold;
  padding: 6px;
  margin-right: 2px;
  width: 20%;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerTextInfoAge {
  background-color: #201d7c;
  color: white;
  font-weight: bold;
  padding: 6px;
  margin-right: 2px;
  width: 25%;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerTextInfoHeight {
  background-color: #201d7c;
  color: white;
  font-weight: bold;
  padding: 6px;
  width: 28%;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamText {
  display: flex;
  width: 100%;
}

.teamTextInfo {
  background-color: #474aee;
  color: white;
  font-weight: bold;
  padding: 6px;
  margin-right: 2px;
  width: 100%;
  font-size: 20px;
  text-align: center; /* I think this should be left -- however specs says middle :/// */
  padding-top: 10px;
  padding-bottom: 10px;
}

.teamTextInfoNumber {
  background-color: #474aee;
  color: white;
  font-weight: bold;
  padding: 6px;
  margin-right: 2px;
  width: 20%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.teamTextInfoAge {
  background-color: #474aee;
  color: white;
  font-weight: bold;
  padding: 6px;
  margin-right: 2px;
  width: 25%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.teamTextInfoHeight {
  background-color: #474aee;
  color: white;
  font-weight: bold;
  padding: 6px;
  width: 28%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.teamColumnName {
  display: flex;
  justify-content: center;
}

.teamColumnName h3 {
  margin: 0.5em;
  color: #201d7c;
  font-size: 30px;
}
