.container {
  position: absolute;
  left: 2em;
  top: 2em;
}

.button {
  font-size: 50px;
}

.teamScoreCorrectionColumn {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.teamScoreCorrectionWrapper {
  display: flex;
  flex-direction: row;
}

.teamScoreCorrectionButton {
  font-size: 14px;
}
