.scoreContainer {
  position: absolute;

  bottom: 5%;
  left: 5%;

  width: 500px;
  height: 116px;

  background-color: #474aee;
}

.topWrapper {
  height: 68px;
  background-color: white;
  width: 100%;
  display: flex;
}

.topElement {
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.topElement:nth-child(2n) {
  background-color: #e2e3e4;
}

.teamName {
  font-size: 40px;
  height: fit-content;
}

.scoreText {
  font-size: 40px;
  height: fit-content;
}

.divider {
  background-color: #201d7c;
  height: 10px;
  width: 100%;
}

.scoreLogo {
  height: 100%;
}

.bottomWrapper {
  height: 38px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logoWrapper {
  height: 100%;
  width: 100%;
}

.periodWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.periodText {
  color: white;
  height: fit-content;
  font-weight: bold;
  font-size: 20px;
}

.periodDataWrapper {
  width: 38px;
  height: 27px;
  margin: 5px;
  margin-left: 20px;
  background: #201d7c;
  display: flex;
}

.periodDataText {
  color: white;
  font-weight: bold;
  margin: auto;
}

.clockWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
